<section class="events">
    <div class="container">
        <b class="events-title">PRIVATE EVENTS</b>
        <ul class="events-list">
            <li class="events-item">
                <div class="events-card">
                <picture>
                    <source
                    srcset="
                    images/wedding.webp 1x,
                    images/wedding@2x.webp 2x"
                    type="image/webp">
                    <source srcset="images/wedding.jpg 1x,
                    images/wedding@2x.jpg 2x">
                    <img src="images/wedding.jpg" alt="wedding" width="475">
                </picture>
                <div class="events-label">wedding</div>
            </div>
            <div class="events-accent"></div>
            </li>
            <li class="events-item">
                <div class="events-card">
                <picture>
                    <source
                    srcset="
                    images/corporate.webp 1x,
                    images/corporate@2x.webp 2x"
                    type="image/webp">
                    <img
                    srcset="images/corporate.jpg 1x,
                    images/corporate@2x.jpg 2x"
                    src="images/corporate.jpg" alt="corporate" width="475">
                </picture>
                <div class="events-label">corporate parties</div>
            </div>
            <div class="events-accent"></div>
            </li>
        </ul>
        <b class="events-contact">For private events please call: +40 729 131 637/+40 726 458 782 or use the contact form.</b>
    </div>
</section>